<h3>Los platos que tiene a disposicion son:</h3>

<table class="table table-dark" id="tabla" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">descripcion</th>
        <th scope="col">precio</th>
        <th scope="col"></th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carta of laCarta">
          <td>{{carta.id}}</td>
          <td>{{carta.nombre}}</td>
          <td>{{carta.descripcion}}</td>
          <td>{{carta.precio | pesos}}</td>
          <td><img src="{{carta.foto}}" alt="" id="fotito"></td>
        
        </tr>
       
    </tbody>
  </table>

  