
<h3>Lista de Pedidos</h3>
<br>
<br>

<table class="table table-dark" id="tabla" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Estado</th>
        <th scope="col">Codigo</th>
        <th scope="col">Tiempo Estimado</th>
        <th scope="col">Mesa</th>
        <th scope="col">Pedido</th>
        <th scope="col">Tipo</th>
        <th scope="col">Precio</th>
        <th scope="col">Modificar</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidos" >
          <td *ngIf="(tipo == 'socio') || (tipo == 'cocinero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'mozo' && (pedido.estado == 'listo para servir' || pedido.estado == 'entregado')) || (tipo == 'bartender' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'repostero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion'))">{{pedido.id}}</td>
          <td *ngIf="(tipo == 'socio') || (tipo == 'cocinero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'mozo' && (pedido.estado == 'listo para servir' || pedido.estado == 'entregado')) || (tipo == 'bartender' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'repostero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion'))">{{pedido.estado}}</td>
          <td *ngIf="(tipo == 'socio') || (tipo == 'cocinero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'mozo' && (pedido.estado == 'listo para servir' || pedido.estado == 'entregado')) || (tipo == 'bartender' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'repostero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion'))">{{pedido.codigoPedido}}</td>
          <td *ngIf="(tipo == 'socio') || (tipo == 'cocinero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'mozo' && (pedido.estado == 'listo para servir' || pedido.estado == 'entregado')) || (tipo == 'bartender' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'repostero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion'))">{{pedido.tiempo}}</td>
          <td *ngIf="(tipo == 'socio') || (tipo == 'cocinero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'mozo' && (pedido.estado == 'listo para servir' || pedido.estado == 'entregado')) || (tipo == 'bartender' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'repostero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion'))">{{pedido.idMesa}}</td>
          <td *ngIf="(tipo == 'socio') || (tipo == 'cocinero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'mozo' && (pedido.estado == 'listo para servir' || pedido.estado == 'entregado')) || (tipo == 'bartender' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'repostero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion'))">{{pedido.quePidio}}</td>
          <td *ngIf="(tipo == 'socio') || (tipo == 'cocinero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'mozo' && (pedido.estado == 'listo para servir' || pedido.estado == 'entregado')) || (tipo == 'bartender' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'repostero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion'))">{{pedido.tipo}}</td>
          <td *ngIf="(tipo == 'socio') || (tipo == 'cocinero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'mozo' && (pedido.estado == 'listo para servir' || pedido.estado == 'entregado')) || (tipo == 'bartender' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'repostero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion'))">{{pedido.precio}}</td>
          <td *ngIf="(tipo == 'socio') || (tipo == 'cocinero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'mozo' && (pedido.estado == 'listo para servir' || pedido.estado == 'entregado')) || (tipo == 'bartender' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion')) || (tipo == 'repostero' && (pedido.estado == 'pendiente' || pedido.estado == 'en preparacion'))"><button (click)="abrirDiv(pedido)" class="btnModificar btn btn-warning">Modificar</button></td>
        </tr>
       
    </tbody>
  </table>

  <!-- *ngIf="tipo != 'socio' && pedido.estado != 'finalizado'" -->

  <div style="display: none;" id="divModifica">
    <div class="form-group" *ngIf="tipo == 'socio'">
      <label for="exampleFormControlSelect2">Estado:</label>
      <select multiple class="form-control" id="select" [(ngModel)]="estado">
        <option value="pendiente">pendiente</option>
        <option value="en preparacion">en preparacion</option>
        <option value="listo para servir">listo para servir</option>
        <option value="entregado">entregado</option>
        <option value="finalizado">finalizado</option>

      </select>
    </div>
    <div class="input-group" *ngIf="tipo == 'cocinero' || tipo == 'socio' || tipo == 'bartender' || tipo == 'repostero'" id="tiempo">
      <div class="input-group-prepend">
        <div class="input-group-text">Tiempo estimado</div>
      </div>
      <input type="text" [(ngModel)]="tiempoEstimado" placeholder="ingrese el tiempo estimado">
    </div>

    <button (click)="modificarpedido()" class="btn btn-success">Listo</button>
  </div>