#ppal
{
    background-image: url("../../../assets/fondo2.jpg");
    color: white;
}

.fa-facebook-square {
    font-size: 52px;
    color: gray;
    }
    .fa-twitter-square {
    font-size: 52px;
    color: gray;
    }
    .fa-github-square {
    font-size: 52px;
    color: gray;
    }
    .fa-instagram {
    font-size: 52px;
    color: gray;
    }

    .fa-facebook-square:hover {
        color:#3B5998;
        }
        .fa-twitter-square:hover {
        color:#55acee;
        }
        .fa-github-square:hover{
        color:#dd4b39;
        }
        .fa-instagram:hover{
        color:#0177B5;
        }