<div id="ppal">
    <h1>La Comanda</h1>

    <h4>Mi restaurante tiene un servicio de la mas alta calidad, con 4 sectores bien diferenciados:
        la barra de tragos y vinos, en nuestra entrada; en el patio trasero se encuentra la barra de choperas
        de cerveza artesanal; la cocina donde 
    </h4>
    <br>
    <h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente et nam eaque quisquam, optio voluptatem aliquam adipisci iusto asperiores libero animi eveniet, minima rem omnis praesentium, mollitia odit natus quod?
    </h5>
    <br>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi hic, eius placeat asperiores minima, at necessitatibus cum quisquam debitis totam, commodi labore accusantium id fugit. Provident dolorem doloremque ad expedita!
    Sapiente aspernatur, et dignissimos odit cumque, necessitatibus perferendis minima illo eum non fuga exercitationem repellat nobis! Neque eaque minus laborum inventore rem adipisci iure ex aperiam, vitae, sint fugit illo.
    Recusandae, ex dolore. Rerum eveniet cumque quod esse dolores dolore, ut asperiores enim saepe rem ad veniam sint doloribus quam culpa odit. Nobis voluptatem repellendus dolores soluta amet saepe tempore?
    Temporibus, deserunt culpa. Id eos est voluptates dolore repellat? Quia suscipit consequatur molestiae placeat ut inventore, numquam ipsum expedita porro dolore maiores optio quas aut veniam quibusdam eos quidem et.</p>

    
    <div>
        Esta Pagina Web fue creada por:
        <br>
        GGT
        <br>
        Giuliano Gustavo Tritto.
        <img src="./assets/logoGGT.png" alt="">
    </div>

    <footer>
        <p>Mis redes:</p>
        <a href="https://www.facebook.com/ggt.tritto"target="_blank" class="fa fa-facebook-square"></a>
        <a href="https://twitter.com/GGTritto" target="_blank" class="fa fa-twitter-square"></a>
        <a href="https://github.com/TrittoG" target="_blank" class="fa fa-github-square"></a>
        <a href="https://ve.linkedin.com/usuario" target="_blank" class="fa fa-instagram"></a>
    </footer>
</div>