
.navbar-nav
{
    width: 100%;
    float: left;
    text-align:right;
}

.navbar-nav a
{
    display:inline-block;
    list-style-type: none;
    text-align: left;
}

#derecho
{
    padding-left: 60%;
    max-width: 100%;
}

#imgLogo
{
    width: 10%;
    height: 5%;
}

#fotilla
{
    border: 1px solid rgb(80, 47, 172);
    border-radius: 50%;
}
