
<!-- <h4>TENGO QUE CORREJIR EL MWPARAAUTENTIFICAR PARA QUE SE PUEDA TRAER CON POST O CON GET
  YA QUE TENGO FUNCIONES DE LOS DOS TIPOS QUE PIDEN ESE MW ---
  <br>
  TERMINAR EL MODIFICAR DE LAS MESAS------
  <br>
  HACER QUE NO DEJE INGRESAR A UNA PESTAÑA SI ES UN TIPO DE EMPLEADO QUE NO TIENE ACCESO
</h4> -->


 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand"> Hola {{nombreingresado}} // {{tipo}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <a class="nav-item nav-link active" routerLink="ppal">Home<span class="sr-only">(current)</span></a>
   
      <!-- <a class="nav-item nav-link" routerLink="mesas">Mesas</a>
      <a class="nav-item nav-link" routerLink="cod2342342354623451" (click)="hacer()">Usuarios</a>
      <a class="nav-item nav-link" routerLink="pedidos" >Pedidos</a> -->
      <a class="nav-item nav-link" routerLink="sociosqweasd123124" (click)="hacer()" >Socios</a>

      <a class="nav-item nav-link" routerLink="sobreNosotros">Sobre Nosotros</a>

      <a class="nav-item nav-link" routerLink="fotos"><app-fotos></app-fotos></a>

      <a class="nav-item nav-link"  id="derecho" (click)="salir()" ><i class="fa fa-sign-out" style="font-size:26px"></i>
      </a>

    

    
    </div>
  </div>
</nav>


 

<router-outlet></router-outlet>