<div>
    <h1>Seguir Pedido</h1>
    <h3>En esta seccion usted puede seguir su pedido para ver cuanto tiempo falta para que se lo
        entreguen y ver en que estado se encuentra
    </h3>

    <button (click)="mostrarDiv()" type="button" class="btn btn-danger">Seguir Un Pedido</button>

    <div id="muestro" style="display: none;">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Codigo de su Pedido:</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="codigoPedido">
        </div>
       
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Codigo de Su Mesa:</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="codigoMesa">
            </div>
           
        <button (click)="buscarPedido()" type="button" class="btn btn-danger">Seguir!</button>

    </div>

    <div id="datos">
        <p *ngIf="this.respuesta != null">{{this.respuesta.respuesta}}</p>
    </div>

    <div *ngIf="this.respuesta" id="encuesta">
        <app-hacer-encuesta *ngIf="this.respuesta.respuesta == 'estado: finalizado tiempo: 0'"></app-hacer-encuesta>
    </div>
</div>