<div id="loPpal">

  <div id="titulo">
    <br>
    <h4>Bienvenido a La Comanda</h4>
  </div>
  <div *ngIf="tipo != 'mozo' && tipo != 'cocinero' && tipo != 'bartender' && tipo != 'repostero'">
      <div class="card" style="width: 18rem; height: 23rem;">
          <img src="./assets/pedir.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Realizar Pedido</h5>
            <p class="card-text">Desde Aqui puedes realiar un nuevo pedido!</p>
            <a routerLink="../pedidoNuevo" class="btn btn-primary">Realizalo!</a>
          </div>
      </div>

      <div class="card" style="width: 18rem; height: 23rem;">
          <img src="./assets/rutaPedido.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Seguimiento del pedido</h5>
            <p class="card-text">Puedes Sigue tu pedido en tiempo Real!</p>
            <a routerLink="../rutaPedido" class="btn btn-primary">Seguir Pedido</a>
          </div>
      </div>
      
      <div class="card" style="width: 18rem; height: 23rem;">
        <img src="./assets/carta.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ver la Carta</h5>
          <p class="card-text">Todas las comidas, Cervezas, Postres y mas!</p>
          <a routerLink="../carta" class="btn btn-primary">Mira la Carta!</a>
        </div>
      </div>

      

      <div class="card" style="width: 18rem; height: 23rem;">
        <img src="./assets/mesas.jpg" class="card-img-top" alt="..." id="fotoMala">
        <div class="card-body">
          <h5 class="card-title">Mesas Disponibles</h5>
          <p class="card-text"> Puedes ver Mesas que estan libres para usar</p>
          <a routerLink="../mesasDisponibles" class="btn btn-primary">Mira las mesas</a>
        </div>
      </div>


      <div class="card" style="width: 18rem; height: 23rem;">
          <img src="./assets/logoCheff.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mis Pedidos</h5>
            <p class="card-text">Pedidos que haya realizado  . .... (YA FUNCIONA :D)</p>
            <a routerLink="../misPedidos" class="btn btn-primary">Go</a>
          </div>
      </div>


      <div class="card" style="width: 18rem; height: 23rem;">
        <img src="./assets/encuesta.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Encuesta</h5>
          <p class="card-text">Realizar encuesta</p>
          <a routerLink="../encuesta" class="btn btn-primary">Ir</a>
        </div>
      </div>

    
    </div>

  <div *ngIf="tipo == 'mozo' || tipo == 'cocinero' || tipo == 'bartender' || tipo == 'repostero'">
    <app-pedidos></app-pedidos>
  </div>

  <div *ngIf="tipo == 'mozo'" class="mozo">
    <app-pedido-nuevo></app-pedido-nuevo>
  </div>

  <div *ngIf="tipo == 'mozo'" class="mozo">
    <app-factura-mesa></app-factura-mesa>
  </div>
</div>