.card
{
    float: left;
    margin-left: 8%;
    margin-bottom: 2%;
}

#loPpal
{
    
    background-color: gray;
    padding-bottom: 70%;
}

h4
{
    text-align: center;
    width: 50%;
    border: 3px blue solid;
    
}

#titulo
{
    padding-left: 32%;
}

#fotoMala
{
    height: 50%;
}