<h1 id="titulo">Registro</h1>

<div>
    <label>Usuario: <br>
        <input type="text" name="input" [(ngModel)]="nombreUsuario">
    </label>
    <br>
    <label>Contraseña: <br>
        <input type="password" name="input" [(ngModel)]="passUsuario">
    </label>
    <br>
    <label>Repetir contraseña: <br>
        <input type="password" name="input" [(ngModel)]="passUsuario2">
    </label>
    <br>
    <button (click)="entrar()" id="boton" >Registrate</button>
    <button (click)="cancelar()" id="boton" >Cancelar</button>

</div>
