<h3>Realiza un Pedido!</h3>



<p-pickList [source]="list1" [target]="list2" sourceHeader="Cosas a Pedir">
    <ng-template let-car pTemplate="item">
        <div class="ui-helper-clearfix">
            <img src="{{car.foto}}" style="display:inline-block;margin:2px 0 2px 2px" width="48">
            <div style="font-size:14px;float:left">{{car.id}} - {{car.nombre}} - {{car.descripcion}} - {{car.precio}}</div>
        </div>
    </ng-template>
</p-pickList>

<button (click)="mostrar()" class="btn btn-primary">Listo!</button>

<p>{{this.mensaje}}</p>
<div id="divFinal" style="display: none;">
    <p>Por favor seleccione el codigo de su mesa en la cual quiere realizar el pedido</p>
    <br>
    <p>(para testear asd123 o aaaa)</p>
    <label for="">Codigo de la Mesa:</label>
    <input type="text" name="codigoMesa" id="codigoMesa" [(ngModel)]="idMesa">
    <br>
    <br>
    <br>
    <button (click)="terminar()" class="btn btn-success">Realizar Pedido!</button>
</div>